@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
    --ce-blue: #333399;
    --ce-orange: #fe5000;
    --background-color: rgb(247, 247, 247);
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family:'Montserrat', sans-serif
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 90px;
}

.desktop-wrapper {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    padding: none;
    background-color: var(--ce-blue);
}

nav .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 90px;
    background-color: var(--ce-blue);
}

nav .logo-container img {
    height: 80px;
    width: 140px;
    background-color: var(--ce-blue);
}

nav .links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90px;
    background-color: var(--ce-blue);
}

nav .links-container a {
    background-color: var(--ce-blue);
    color: #fff;
    margin-right: 35px;
    font-size: 18px;
}

nav .links-container a:hover {
    color: var(--ce-orange);
}

nav .slogan-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 90px;
    background-color: var(--ce-blue);
}

nav .slogan-container h3 {
    color: var(--ce-orange);
    background-color: var(--ce-blue);
}


nav .mobile-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    visibility: hidden;
    position: relative;
}

nav .slogan {
    justify-content: flex-start;
    color: var(--ce-orange);
    font-size: 22px;
    margin-left: 20px;
    background-color: var(--ce-blue);
}


nav .mobile-wrapper img {
    height: 80px;
    width: 140px;
    background-color: var(--ce-blue);
    margin-left: 20px;
}

nav .menu-wrapper {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}


nav .menu-wrapper button {
    padding: 10px;
    background-color: var(--ce-blue);
    color: #fff;
    border: none;
    outline: none;
}


nav .menu-wrapper button i {
    background-color: var(--ce-blue);
}



.mobile-nav-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: black;
    display: none;
}

.mobile-nav-menu .links {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--ce-blue);
}


.mobile-nav-menu .links img {
    background-color: var(--ce-blue);
    color: #fff;
    margin-bottom: 55px;
}

.mobile-nav-menu .links a {
    background-color: var(--ce-blue);
    color: #fff;
    margin-bottom: 35px;
    font-size: 18px;
}

.mobile-nav-menu .links button {
    background-color: var(--ce-orange);
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 1px;
    outline: none;
    border: none;
}






.total-production-display {
    width: 500px;
    height: 500px;
}






@media screen and (max-width: 990px) {
    nav .logo-container {
        width: 33%;
    }

    nav .links-container {
        width: 67%;
    }

    nav .slogan-container {
        display: none;
    }
}



@media screen and (max-width: 700px) {
    nav .links-container a {
        font-size: 16px;
    }
}


@media screen and (max-width: 620px) {
    nav .links-container a {
        font-size: 14px;
    }
}



@media screen and (max-width: 600px) {
    nav .desktop-wrapper {
        display: none;
    }

    nav .mobile-wrapper {
        visibility: visible;
        background-color: var(--ce-blue);
    }
}